@font-face {
	font-family: Roboto; /* regular font */
	src: url("./font/Roboto-Regular.ttf") format("ttf");
	font-weight: normal; font-style: normal; }

@font-face {
	font-family: Roboto; /* bold font */
	src: url("./font/Roboto-Bold.ttf") format("ttf");
	font-weight: bold; font-style: normal; }

@font-face {
	font-family: Roboto; /* light font */
	src: url("./font/Roboto-Light.ttf") format("ttf");
	font-weight: 300; font-style: normal; }

@font-face {
	font-family: Roboto; /* italic font */
	src: url("./font/Roboto-Italic.ttf") format("ttf");
	font-weight: normal; font-style: italic; }


* {
    font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;

}

hr {
	border: 0;
	border-top: 1px solid lightgrey;
	margin: 0;
}

.clear {
	clear: both;
}

.bold {
	font-weight: bold;
}

.link {
	color: #1f1f56;
	text-decoration: none;
}

#_tab1 {
    display: block;
}

#_tab2 {
    display: none;
}

#_tab3 {
    display: none;
}

#_tab4 {
    display: none
}

#_tab5 {
    display: none;
}

#_photo {
	display: none;
}

/*------------- header toolbar -------*/

.header_toolbar {
	background-color: #fafafa;
	width: 100%;
	
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.header_toolbar .content_left {
	float: left;
	font-size: 13pt;
	font-weight: bold;
	width: 50%;
	padding-left: 1rem;
    padding-top: 0.8rem;
}

.header_toolbar .content_right {
	width: 50%;
	float: right;
	text-align: right;
}

.header_toolbar #arrow {
	margin-left: 4px;
	height: 8px;
	width: auto;
}

.header_tool {
	display: inline-block;
}

.header_tool:active {
	background-color: #f0f0f0
}

.header_tool img{
	height:23px;
	margin: 10px;
	width: auto;
}

#nav_back {
	display: block;
	float: left;
	padding: 11px;
}

#nav_back img {
	height: 20px;
	width: auto;
}

#nav_back:active {
	background-color: #f0f0f0
}

#_photo .header_toolbar #_text01 {
	display: inline-block;
	padding: 14px;
}

/*------------- header content -------*/

#header_profile {
	width: 100%;
	display: flex;
	flex-direction: row;
}

#avatar {
	border-radius: 100%;
	display: inline-block;
	background-color: grey;
	height: 4.8rem;
	width: 4.8rem;
	flex-shrink: 0;
}

#stats {
	display: flex;
	flex-direction: row;
}

#stats .item {
	width: 33%;
	text-align: center;
}

#stats .descr {
	margin-top: 5%;
	font-size: 9pt;
	color: #A0A0A0;
}

#header_profile {
	flex-grow: 1;
	padding: 1.5rem;
}

#profile {
	padding-left: 1.5rem;
	width: 100%;
	position: relative;
}

#edit_profile {
	width: 100%;
	padding: 6px;
	margin-top: 8px;
	vertical-align: bottom;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	border: 1px solid #A5A5A5;
	border-radius: 3px;
}

#edit_profile:active {
	border: 1px solid #cfcfcf;
}

#info_profile {
	padding-left: 1.5rem;
	font-size: 10pt;
	padding-bottom: 1.2rem;
}

#info_profile div {
	padding-top: 2px;
}

#content_toolbar {
	padding-top:0.8rem;
	padding-bottom:0.8rem;
	display: flex;
}

#content_toolbar div {
	width: 25%;
}

.tool {
	outline: none;
}

.tool img {
	margin: auto;
	height: 1.5rem;
	width: auto;
	display: block;
}

.tool:focus img:last-child {
	display: block;
}

#navigation_toolbar {
	display: flex;
	position: fixed;
	width: 100%;
	bottom: 0;
	padding-top:0.8rem;
	padding-bottom:0.8rem;
	background-color: #f9f9f9;
}

#navigation_toolbar div {
	width: 20%;
}

#content {
	padding-bottom: 3.3rem;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2px;
}

.overview_item {
	padding: 50%;
	background-size: Auto 100%;
	background-position: center;
}

.overview_item:active {
	-webkit-filter: brightness(50%);
}

#content_tab2 img {
	width: 100%;
	height: auto;
}

/*------------------- photo ------------------*/

#_photo .sub_header {
	width: 100%;
	margin: 0;
	padding: 0;
}

#_photo .content_left {
	width: 50%;
	font-size: 10pt;
	font-weight: bold;
	display: inline-block;
	padding: 13px 13px 13px 8px;
}
#_photo .content_right {
	width: 50%;
	float: right;
	display: inline-block;
	padding: 13px 13px 13px 8px;
}

#avatar_small img {
	border-radius: 100%;
	background-color: grey;
	height: 1.7rem;
	width: 1.7rem;
}

#avatar_small {
	display: inline-block;
	float: left;
	margin-bottom: -3px;
}

#_photo #_text02 {
	float: left;
	height:1.7rem;
	line-height: 1.7rem;
	padding-left: 0.5rem;
}

#_photo #photo_full {
	width: 100%;
	height: auto;
}

#_photo .content_right div {
	text-align: right;
}

#_photo .content_right img {
	width: 1.5rem;
	height: auto;
}

.photo_tool {
	width: 2.3rem;
	padding-left: 0.8rem;
	padding-top: 0.4rem;
}

.float_right {
	float: right;
}

.margin_right_small {
	margin-right: 0.8rem;
}

#comment_section {
	padding: 0.8rem;
	font-size: 10pt;
}

#comment_section span {
	font-weight: bold;
}

#comment_section p {
	color: #808080;
	padding-top: 0.5rem;
	margin: 0;
}


